/**/
.background {
  background-color: gainsboro;
  color: black;
}
.navbar {
  background-color: white;
  border: 3px;
  border-color: black;
  display: grid;
  margin: 2px;
}
.navItem {
  background-color: gainsboro;
  border: 3px;
  border-color: black;
}
