/**/
.background {
  background-color: #fff;
  color: #000;
}
.navBar {
  border: 3px;
  border-color: black;
  display: grid;
  margin: 2px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'pages';
  justify-items: center;
  column-gap: 1em;
  padding: 1em;

}
.navItem {
  grid-area: pages;
  background-color: #D8D9DA;
  border: 3px solid #000;
  text-decoration: none;
  display: inline-flex;
  padding: 5px;
  margin: .5rem;
}
