/**/
.background {
  background-color: #fff;
  color: #000;
}
.navBar {
  background-color: #D8D9DA;
  border: 3px;
  border-color: black;
  display: grid;
  margin: 2px;
  position:relative;
}
.navItem {
  background-color: #D8D9DA;
  border: 3px solid #000;
  text-decoration: none;
  display: inline-flex;
}
